<h1>Add New User</h1>
<form id="adduserform" action="adduserform.do" method="post">
	<table>  
		<tr><td>Name:</td><td><input id="name" type="text" name="name"/></td></tr>  
		<tr><td>Password:</td><td><input id="password" type="password" name="password"/></td></tr>  
		<tr><td>Email:</td><td><input id="email" type="email" name="email"/></td></tr>  
		<tr>
			<td>Sex:</td>
			<td>  
				<input id="male" type="radio" name="sex" value="male"/>Male   
				<input id="female" type="radio" name="sex" value="female"/>Female
			</td>
		</tr>  
		<tr>
			<td>Country:</td>
			<td>
				<select id="country" name="country" style="width:155px">  
					<option>Peru</option>
					<option>Argentina</option>
					<option>Bolivia</option>  
					<option>Uruguay</option>  
					<option>Chile</option>  
					<option selected="selected">Brazil</option>
					<option>Other</option>  
				</select>
			</td>
		</tr>
		<tr align="center">
			<td><input id="adduser" type="submit" value="Add User"/></td>
			<td><button id="cancel" onclick="location.href='../index.jsp'" type="button">Cancel</button>
			</td>
		</tr>
	</table>
</form>